Django>=4.2,<5.1
django-deep-translator==1.5.1
django-environ==0.11.2
djangorestframework
djangorestframework-xml==2.0.0
psycopg2-binary==2.9.10
wagtail-cache==2.5.1
wagtail-metadata==5.0.0
wagtail-modeladmin==2.1.0
wagtail==5.2
wagtail-adminsortable @ https://github.com/Lh4cKg/wagtail-admin-sortable/archive/baa0d1f13a6bca4cc60e0d7dcd0522ecafcf5d67.zip#sha256=ab6ea62b180659f56330397e97e9fcc2769dd10801f52fd259bc3175d77e27b7
wagtail-modeladmin==2.1.0
wagtail-icon-chooser==0.0.7